body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ef0686;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pink {
  background-color: #ef0686;
}

.font {
  color: #5ee0bc;
  text-align: center;
}
.question {
  color: #d3e775;
}
h2 {
  text-align: center;
}
.answers {
  background-color: white;
  width: 300px;
  margin: auto;
  padding: 25px;
}
